openapi: 3.2.0
info:
  title: Service REST Currency Converter API
  version: 1.0.0
  description: Real-time currency conversion with latest exchange rates
servers:
- url: https://connect.mcp360.ai
  description: MCP360 API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: currency-converter
paths:
  /api/v1/currency-converter/convert_currency:
    post:
      summary: Execute convert_currency
      operationId: currency-converter_convert_currency
      tags:
      - currency-converter
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/currency-converter_convert_currency_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    get:
      summary: Execute convert_currency
      operationId: currency-converter_convert_currency_get
      tags:
      - currency-converter
      parameters:
      - name: have
        in: query
        required: true
        schema:
          type: string
        description: 3-character currency code you have (e.g., USD, EUR, GBP)
      - name: want
        in: query
        required: true
        schema:
          type: string
        description: 3-character currency code you want (e.g., USD, EUR, GBP)
      - name: amount
        in: query
        required: true
        schema:
          type: number
        description: Amount to convert
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
components:
  schemas:
    currency-converter_convert_currency_input:
      type: object
      properties:
        have:
          type: string
          minLength: 3
          maxLength: 3
          pattern: ^[A-Z]{3}$
          description: 3-character currency code you have (e.g., USD, EUR, GBP)
        want:
          type: string
          minLength: 3
          maxLength: 3
          pattern: ^[A-Z]{3}$
          description: 3-character currency code you want (e.g., USD, EUR, GBP)
        amount:
          type: number
          exclusiveMinimum: 0
          maximum: 1000000000000000
          description: Amount to convert
      required:
      - have
      - want
      - amount
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
