{
  "openapi": "3.0.0",
  "info": {
    "title": "Naver Search Tools REST API",
    "version": "1.0.0",
    "description": "Naver Korean web search engine"
  },
  "servers": [
    {
      "url": "https://connect.mcp360.ai",
      "description": "MCP360 API Server"
    }
  ],
  "paths": {
    "/api/v1/naver-search/search_web": {
      "post": {
        "summary": "Execute search_web",
        "operationId": "naver-search_search_web",
        "tags": [
          "naver-search"
        ],
        "parameters": [
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "strictValidation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fail on validation errors"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/naver-search_search_web_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Execute search_web",
        "operationId": "naver-search_search_web_get",
        "tags": [
          "naver-search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query (Korean or English)"
          },
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/naver-search/search_korean_content": {
      "post": {
        "summary": "Execute search_korean_content",
        "operationId": "naver-search_search_korean_content",
        "tags": [
          "naver-search"
        ],
        "parameters": [
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "strictValidation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fail on validation errors"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/naver-search_search_korean_content_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Execute search_korean_content",
        "operationId": "naver-search_search_korean_content_get",
        "tags": [
          "naver-search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Korean language search query"
          },
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/naver-search/get_related_searches": {
      "post": {
        "summary": "Execute get_related_searches",
        "operationId": "naver-search_get_related_searches",
        "tags": [
          "naver-search"
        ],
        "parameters": [
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "strictValidation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fail on validation errors"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/naver-search_get_related_searches_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Execute get_related_searches",
        "operationId": "naver-search_get_related_searches_get",
        "tags": [
          "naver-search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Query for related searches"
          },
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "naver-search_search_web_input": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Search query (Korean or English)"
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      },
      "naver-search_search_korean_content_input": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Korean language search query"
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      },
      "naver-search_get_related_searches_input": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Query for related searches"
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKey": []
    }
  ]
}
