openapi: 3.2.0
info:
  title: Store Tools REST Google Play API
  version: 1.0.0
  description: Google Play Store search for apps, games, movies, books, and detailed product information
servers:
- url: https://connect.mcp360.ai
  description: MCP360 API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: google-play
paths:
  /api/v1/google-play/search_store:
    post:
      summary: Execute search_store
      operationId: google-play_search_store
      tags:
      - google-play
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google-play_search_store_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    get:
      summary: Execute search_store
      operationId: google-play_search_store_get
      tags:
      - google-play
      parameters:
      - name: store
        in: query
        required: true
        schema:
          type: string
        description: Play Store type to search
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Search query
      - name: category
        in: query
        required: false
        schema:
          type: string
        description: Category filter
      - name: chart
        in: query
        required: false
        schema:
          type: string
        description: Top charts (e.g., 'topselling_free', 'topgrossing', 'movers_shakers')
      - name: gl
        in: query
        required: false
        schema:
          type: string
        description: Country code (e.g., 'us', 'uk', 'jp')
      - name: hl
        in: query
        required: false
        schema:
          type: string
        description: Language code (e.g., 'en', 'es', 'ja')
      - name: price
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by price: ''1'' for free, ''2'' for paid'
      - name: next_page_token
        in: query
        required: false
        schema:
          type: string
        description: Token for pagination
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/google-play/get_product_details:
    post:
      summary: Execute get_product_details
      operationId: google-play_get_product_details
      tags:
      - google-play
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google-play_get_product_details_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
components:
  schemas:
    google-play_get_product_details_input:
      type: object
      properties:
        store:
          type: string
          enum:
          - apps
          - movies
          - books
          - audiobooks
          - tv
          description: Product store type
        product_id:
          type: string
          minLength: 1
          maxLength: 200
          description: Product ID (e.g., 'com.whatsapp' for apps)
        gl:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[a-z]{2}$
          description: Country code (e.g., 'us', 'uk', 'jp')
        hl:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
          description: Language code (e.g., 'en', 'es', 'ja')
        num:
          type: integer
          minimum: 1
          maximum: 200
          description: Number of reviews to retrieve (max 200)
        next_page_token:
          type: string
          maxLength: 500
          description: Token for reviews pagination
      required:
      - store
      - product_id
      additionalProperties: false
    google-play_search_store_input:
      type: object
      properties:
        store:
          type: string
          enum:
          - apps
          - games
          - movies
          - books
          description: Play Store type to search
        q:
          type: string
          minLength: 1
          maxLength: 200
          description: Search query
        category:
          type: string
          minLength: 1
          maxLength: 100
          description: Category filter
        chart:
          type: string
          pattern: ^(topselling_free|topselling_paid|topgrossing|movers_shakers|top_free|top_paid)$
          description: Top charts (e.g., 'topselling_free', 'topgrossing', 'movers_shakers')
        gl:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[a-z]{2}$
          description: Country code (e.g., 'us', 'uk', 'jp')
        hl:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
          description: Language code (e.g., 'en', 'es', 'ja')
        price:
          type: string
          enum:
          - '1'
          - '2'
          description: 'Filter by price: ''1'' for free, ''2'' for paid'
        next_page_token:
          type: string
          maxLength: 500
          description: Token for pagination
      required:
      - store
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
