openapi: 3.2.0
info:
  title: Tools REST Yahoo Search API
  version: 1.0.0
  description: Yahoo web search engine
servers:
- url: https://connect.mcp360.ai
  description: MCP360 API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: yahoo-search
paths:
  /api/v1/yahoo-search/search_web:
    post:
      summary: Execute search_web
      operationId: yahoo-search_search_web
      tags:
      - yahoo-search
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/yahoo-search_search_web_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    get:
      summary: Execute search_web
      operationId: yahoo-search_search_web_get
      tags:
      - yahoo-search
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Search query
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: Country code
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/yahoo-search/search_news:
    post:
      summary: Execute search_news
      operationId: yahoo-search_search_news
      tags:
      - yahoo-search
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/yahoo-search_search_news_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    get:
      summary: Execute search_news
      operationId: yahoo-search_search_news_get
      tags:
      - yahoo-search
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: News query
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/yahoo-search/get_related_searches:
    post:
      summary: Execute get_related_searches
      operationId: yahoo-search_get_related_searches
      tags:
      - yahoo-search
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/yahoo-search_get_related_searches_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    get:
      summary: Execute get_related_searches
      operationId: yahoo-search_get_related_searches_get
      tags:
      - yahoo-search
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Query for related searches
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
components:
  schemas:
    yahoo-search_search_web_input:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 500
          description: Search query
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[a-z]{2}$
          description: Country code
      required:
      - query
      additionalProperties: false
    yahoo-search_get_related_searches_input:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 500
          description: Query for related searches
      required:
      - query
      additionalProperties: false
    yahoo-search_search_news_input:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 500
          description: News query
      required:
      - query
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
