openapi: 3.2.0
info:
  title: Tools REST Google Search API
  version: 1.0.0
  description: Google web search, autocomplete, and related queries
servers:
- url: https://connect.mcp360.ai
  description: MCP360 API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: google-search
paths:
  /api/v1/google-search/search_web:
    post:
      summary: Execute search_web
      operationId: google-search_search_web
      tags:
      - google-search
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google-search_search_web_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/google-search/get_autocomplete:
    post:
      summary: Execute get_autocomplete
      operationId: google-search_get_autocomplete
      tags:
      - google-search
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google-search_get_autocomplete_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    get:
      summary: Execute get_autocomplete
      operationId: google-search_get_autocomplete_get
      tags:
      - google-search
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Partial search query for autocomplete
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: Country code (e.g., 'us', 'uk')
      - name: language
        in: query
        required: false
        schema:
          type: string
        description: Language code (e.g., 'en', 'es')
      - name: client
        in: query
        required: false
        schema:
          type: string
        description: Client type (chrome, safari, firefox, edge, opera)
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/google-search/get_related_searches:
    post:
      summary: Execute get_related_searches
      operationId: google-search_get_related_searches
      tags:
      - google-search
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google-search_get_related_searches_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    get:
      summary: Execute get_related_searches
      operationId: google-search_get_related_searches_get
      tags:
      - google-search
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Search query to find related searches
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: Country code (e.g., 'us', 'uk')
      - name: language
        in: query
        required: false
        schema:
          type: string
        description: Language code (e.g., 'en', 'es')
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/google-search/search_advanced:
    post:
      summary: Execute search_advanced
      operationId: google-search_search_advanced
      tags:
      - google-search
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google-search_search_advanced_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
components:
  schemas:
    google-search_get_autocomplete_input:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 500
          description: Partial search query for autocomplete
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[a-z]{2}$
          description: Country code (e.g., 'us', 'uk')
        language:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
          description: Language code (e.g., 'en', 'es')
        client:
          type: string
          enum:
          - chrome
          - safari
          - firefox
          - edge
          - opera
          default: chrome
          description: Client type (chrome, safari, firefox, edge, opera)
      required:
      - query
      additionalProperties: false
    google-search_get_related_searches_input:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 500
          description: Search query to find related searches
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[a-z]{2}$
          description: Country code (e.g., 'us', 'uk')
        language:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
          description: Language code (e.g., 'en', 'es')
      required:
      - query
      additionalProperties: false
    google-search_search_web_input:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 2048
          description: Search query
        location:
          type: string
          minLength: 1
          maxLength: 200
          description: Location for localized results — use city or state name only, no commas (e.g., 'New York', 'California', 'London')
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[a-z]{2}$
          description: Country code (e.g., 'us', 'uk')
        language:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
          description: Language code (e.g., 'en', 'es')
        num_results:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: Number of results (1-100)
        safe_search:
          type: boolean
          default: false
          description: Enable safe search
        time_period:
          type: string
          pattern: ^[hdwmy]$
          description: Time period filter (e.g., 'd' for day, 'w' for week, 'm' for month, 'y' for year)
      required:
      - query
      additionalProperties: false
    google-search_search_advanced_input:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 2048
          description: Search query with advanced operators (site:, inurl:, intitle:, filetype:, etc.)
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[a-z]{2}$
          description: Country code (e.g., 'us', 'uk')
        language:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
          description: Language code (e.g., 'en', 'es')
        num_results:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: Number of results (1-100)
      required:
      - query
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
