openapi: 3.2.0
info:
  title: Walmart Product Search Tools REST Walmart Search API
  version: 1.0.0
  description: Walmart product search, detailed product info, pricing, reviews, and availability
servers:
- url: https://connect.mcp360.ai
  description: MCP360 API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: walmart-search
paths:
  /api/v1/walmart-search/search_products:
    post:
      summary: Execute search_products
      operationId: walmart-search_search_products
      tags:
      - walmart-search
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/walmart-search_search_products_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/walmart-search/get_product_details:
    post:
      summary: Execute get_product_details
      operationId: walmart-search_get_product_details
      tags:
      - walmart-search
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/walmart-search_get_product_details_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    get:
      summary: Execute get_product_details
      operationId: walmart-search_get_product_details_get
      tags:
      - walmart-search
      parameters:
      - name: product_id
        in: query
        required: true
        schema:
          type: string
        description: Walmart product ID
      - name: store_id
        in: query
        required: false
        schema:
          type: string
        description: 'Specific Walmart store ID (default: 3081)'
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
components:
  schemas:
    walmart-search_get_product_details_input:
      type: object
      properties:
        product_id:
          type: string
          minLength: 1
          maxLength: 50
          description: Walmart product ID
        store_id:
          type: string
          pattern: ^\d+$
          description: 'Specific Walmart store ID (default: 3081)'
      required:
      - product_id
      additionalProperties: false
    walmart-search_search_products_input:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 200
          description: Product search query
        category_id:
          type: string
          pattern: ^\d+$
          description: Filter by category ID
        price_min:
          type: number
          minimum: 0
          maximum: 1000000
          description: Minimum price filter
        price_max:
          type: number
          exclusiveMinimum: 0
          maximum: 1000000
          description: Maximum price filter
        sort_by:
          type: string
          enum:
          - best_match
          - price_low_to_high
          - price_high_to_low
          - best_seller
          description: Sort order
        page:
          type: integer
          minimum: 1
          maximum: 50
          description: Page number for pagination
      required:
      - query
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
