openapi: 3.2.0
info:
  title: Tools REST Google Scholar API
  version: 1.0.0
  description: Google Scholar academic search, citation tracking, and research discovery
servers:
- url: https://connect.mcp360.ai
  description: MCP360 API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: google-scholar
paths:
  /api/v1/google-scholar/search_papers:
    post:
      summary: Execute search_papers
      operationId: google-scholar_search_papers
      tags:
      - google-scholar
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google-scholar_search_papers_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/google-scholar/search_by_author:
    post:
      summary: Execute search_by_author
      operationId: google-scholar_search_by_author
      tags:
      - google-scholar
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google-scholar_search_by_author_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/google-scholar/get_citations:
    post:
      summary: Execute get_citations
      operationId: google-scholar_get_citations
      tags:
      - google-scholar
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google-scholar_get_citations_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    get:
      summary: Execute get_citations
      operationId: google-scholar_get_citations_get
      tags:
      - google-scholar
      parameters:
      - name: paper_id
        in: query
        required: true
        schema:
          type: string
        description: Paper ID or cluster ID from search results
      - name: sort_by
        in: query
        required: false
        schema:
          type: string
        description: 'Sort citations by: ''relevance'' or ''date'''
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/google-scholar/filter_by_year:
    post:
      summary: Execute filter_by_year
      operationId: google-scholar_filter_by_year
      tags:
      - google-scholar
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google-scholar_filter_by_year_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
components:
  schemas:
    google-scholar_search_papers_input:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 500
          description: Research query or paper topic
        year_start:
          type: integer
          minimum: 1900
          maximum: 2026
          description: Start year for publication date range
        year_end:
          type: integer
          minimum: 1900
          maximum: 2026
          description: End year for publication date range
        sort_by:
          type: string
          enum:
          - relevance
          - date
          description: 'Sort by: ''relevance'' or ''date'''
        num_results:
          type: integer
          minimum: 1
          maximum: 20
          default: 10
          description: Number of results (1-20)
      required:
      - query
      additionalProperties: false
    google-scholar_filter_by_year_input:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 500
          description: Research query
        year:
          type: integer
          minimum: 1900
          maximum: 2026
          description: Specific publication year
        include_patents:
          type: boolean
          default: false
          description: Include patents in results
      required:
      - query
      - year
      additionalProperties: false
    google-scholar_search_by_author_input:
      type: object
      properties:
        author_name:
          type: string
          minLength: 1
          maxLength: 200
          description: Author name (e.g., 'Ilya Sutskever', 'Geoffrey Hinton')
        year_start:
          type: integer
          minimum: 1900
          maximum: 2026
          description: Start year for publications
        year_end:
          type: integer
          minimum: 1900
          maximum: 2026
          description: End year for publications
      required:
      - author_name
      additionalProperties: false
    google-scholar_get_citations_input:
      type: object
      properties:
        paper_id:
          type: string
          minLength: 1
          maxLength: 100
          description: Paper ID or cluster ID from search results
        sort_by:
          type: string
          pattern: ^(relevance|date)$
          description: 'Sort citations by: ''relevance'' or ''date'''
      required:
      - paper_id
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
