openapi: 3.2.0
info:
  title: Tools REST Keyword Research API
  version: 1.0.0
  description: Keyword research tools for SEO and content planning. Get search volumes and related keyword suggestions.
servers:
- url: https://connect.mcp360.ai
  description: MCP360 API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: keyword-research
paths:
  /api/v1/keyword-research/search_keyword_volume:
    post:
      summary: Execute search_keyword_volume
      operationId: keyword-research_search_keyword_volume
      tags:
      - keyword-research
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/keyword-research_search_keyword_volume_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/keyword-research/global_keyword_volume:
    post:
      summary: Execute global_keyword_volume
      operationId: keyword-research_global_keyword_volume
      tags:
      - keyword-research
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/keyword-research_global_keyword_volume_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /api/v1/keyword-research/related_keyword_suggestions:
    post:
      summary: Execute related_keyword_suggestions
      operationId: keyword-research_related_keyword_suggestions
      tags:
      - keyword-research
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/keyword-research_related_keyword_suggestions_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
components:
  schemas:
    keyword-research_global_keyword_volume_input:
      type: object
      properties:
        keywords:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 200
          minItems: 1
          maxItems: 20
          description: Array of keywords to get global/worldwide search volume for (1-20 keywords, e.g., ['seo tools', 'keyword research'])
      required:
      - keywords
      additionalProperties: false
    keyword-research_related_keyword_suggestions_input:
      type: object
      properties:
        keywords:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 200
          minItems: 1
          maxItems: 20
          description: Array of seed keywords to get related suggestions for (1-20 keywords, e.g., ['seo tools', 'keyword research'])
        location:
          type: string
          minLength: 1
          maxLength: 100
          default: United States
          description: Target location for keyword suggestions (e.g., 'United States', 'United Kingdom', 'Canada')
        language:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
          default: en
          description: Target language code (e.g., 'en' for English, 'es' for Spanish)
        limit:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
          description: 'Maximum number of related keywords to return (default: 50)'
      required:
      - keywords
      additionalProperties: false
    keyword-research_search_keyword_volume_input:
      type: object
      properties:
        keywords:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 200
          minItems: 1
          maxItems: 20
          description: Array of keywords to get search volume for (1-20 keywords, e.g., ['seo tools', 'keyword research'])
        location:
          type: string
          minLength: 1
          maxLength: 100
          default: United States
          description: Target location for search volume data (e.g., 'United States', 'United Kingdom', 'Canada')
        language:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
          default: en
          description: Target language code (e.g., 'en' for English, 'es' for Spanish)
      required:
      - keywords
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
