openapi: 3.2.0
info:
  title: Tools REST Google Hotels API
  version: 1.0.0
  description: Google Hotels search with filters for price, rating, amenities, and availability
servers:
- url: https://connect.mcp360.ai
  description: MCP360 API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: google-hotels
paths:
  /api/v1/google-hotels/search_hotels:
    post:
      summary: Execute search_hotels
      operationId: google-hotels_search_hotels
      tags:
      - google-hotels
      parameters:
      - name: validateOutput
        in: query
        schema:
          type: boolean
        description: Validate output against schema
      - name: strictValidation
        in: query
        schema:
          type: boolean
        description: Fail on validation errors
      - name: includeMetadata
        in: query
        schema:
          type: boolean
        description: Include execution metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google-hotels_search_hotels_input'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                  metadata:
                    type: object
                    properties:
                      service:
                        type: string
                      tool:
                        type: string
                      executionTime:
                        type: string
                      creditsUsed:
                        type: number
                      timestamp:
                        type: string
                        format: date-time
                required:
                - success
                - data
        '400':
          description: Bad request or validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (premium access required)
        '404':
          description: Service or tool not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
components:
  schemas:
    google-hotels_search_hotels_input:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 500
          description: Location or hotel name (e.g., 'hotels in Paris', 'Marriott New York')
        check_in_date:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
          description: Check-in date in YYYY-MM-DD format (e.g., '2024-12-25')
        check_out_date:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
          description: Check-out date in YYYY-MM-DD format (e.g., '2024-12-27')
        adults:
          type: integer
          minimum: 1
          maximum: 20
          default: 2
          description: Number of adult guests
        children_ages:
          type: string
          pattern: ^(\d{1,2})(,\d{1,2})*$
          description: Comma-separated ages of children (e.g., '5,7')
        currency:
          type: string
          minLength: 3
          maxLength: 3
          pattern: ^[A-Z]{3}$
          default: USD
          description: Currency code for prices
        price_min:
          type: integer
          minimum: 0
          maximum: 50000
          description: Minimum price per night
        price_max:
          type: integer
          minimum: 0
          maximum: 50000
          description: Maximum price per night
        property_type:
          type: string
          enum:
          - hotel
          - vacation_rental
          description: Type of property
        sort_by:
          type: string
          enum:
          - relevance
          - lowest_price
          - highest_rating
          description: Sort order for results
        rating:
          type: string
          enum:
          - '7'
          - '8'
          - '9'
          description: Minimum hotel rating (7=3.5+, 8=4.0+, 9=4.5+ stars)
        amenities:
          type: string
          maxLength: 500
          description: 'Amenity IDs comma-separated. Values: 1=Free parking, 3=Parking, 4=Indoor pool, 5=Outdoor pool, 6=Pool, 7=Fitness centre, 8=Restaurant, 9=Free breakfast, 10=Spa, 11=Beach access, 12=Kid-friendly, 15=Bar, 19=Pet-friendly, 22=Room service, 35=Free Wi-Fi, 40=Air-conditioned, 52=All-inclusive, 53=Wheelchair accessible, 61=EV charger'
        free_cancellation:
          type: boolean
          description: Filter for free cancellation
        special_offers:
          type: boolean
          description: Filter for special offers
        hotel_class:
          type: integer
          minimum: 1
          maximum: 5
          description: Hotel star rating (1-5)
        bedrooms:
          type: integer
          minimum: 0
          maximum: 20
          description: Number of bedrooms (for vacation rentals)
        bathrooms:
          type: integer
          minimum: 0
          maximum: 20
          description: Number of bathrooms (for vacation rentals)
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[a-z]{2}$
          description: Country code for search (e.g., 'us', 'uk')
        language:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
          description: Language code (e.g., 'en', 'es')
      required:
      - query
      - check_in_date
      - check_out_date
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
