{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Forums Tools REST API",
    "version": "1.0.0",
    "description": "Search Google Forums discussions with filters for time, location, and language"
  },
  "servers": [
    {
      "url": "https://connect.mcp360.ai",
      "description": "MCP360 API Server"
    }
  ],
  "paths": {
    "/api/v1/google-forums/search_forums": {
      "post": {
        "summary": "Execute search_forums",
        "operationId": "google-forums_search_forums",
        "tags": [
          "google-forums"
        ],
        "parameters": [
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "strictValidation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fail on validation errors"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/google-forums_search_forums_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "google-forums_search_forums_input": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Search query for forum discussions (e.g., 'how to fix wifi connection', 'python best practices')"
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Page number for pagination"
          },
          "device": {
            "type": "string",
            "enum": [
              "desktop",
              "mobile",
              "tablet"
            ],
            "description": "Device type for search"
          },
          "location": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Search location (e.g., 'New York, USA')"
          },
          "google_domain": {
            "type": "string",
            "pattern": "^google\\.[a-z]{2,}(\\.[a-z]{2})?$",
            "description": "Google domain to use (e.g., 'google.com', 'google.co.uk')"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "pattern": "^[a-z]{2}$",
            "description": "Country code for search (e.g., 'us', 'uk', 'ca')"
          },
          "language": {
            "type": "string",
            "pattern": "^[a-z]{2}(-[a-z]{2})?$",
            "description": "Interface language code (e.g., 'en', 'es', 'fr')"
          },
          "language_results": {
            "type": "string",
            "pattern": "^lang_[a-z]{2}$",
            "description": "Language restriction for results (e.g., 'lang_en')"
          },
          "country_results": {
            "type": "string",
            "pattern": "^country[A-Z]{2}$",
            "description": "Country document origin restriction (e.g., 'countryUS')"
          },
          "safe_search": {
            "type": "string",
            "enum": [
              "active",
              "off"
            ],
            "description": "Safe search mode"
          },
          "time_period": {
            "type": "string",
            "pattern": "^qdr:[hdwmy]$",
            "description": "Time period filter (e.g., 'qdr:d' for past day, 'qdr:w' for week, 'qdr:m' for month, 'qdr:y' for year)"
          },
          "time_period_min": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Custom start date in YYYY-MM-DD format"
          },
          "time_period_max": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Custom end date in YYYY-MM-DD format"
          },
          "filter_duplicates": {
            "type": "boolean",
            "description": "Filter duplicate content (true/false)"
          },
          "verbatim": {
            "type": "boolean",
            "description": "Verbatim mode for exact match (true/false)"
          },
          "no_autocorrect": {
            "type": "boolean",
            "description": "Disable auto-correction (true/false)"
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKey": []
    }
  ]
}
