{
  "openapi": "3.0.0",
  "info": {
    "title": "Bing Search Tools REST API",
    "version": "1.0.0",
    "description": "Bing web search, news, images, and local results"
  },
  "servers": [
    {
      "url": "https://connect.mcp360.ai",
      "description": "MCP360 API Server"
    }
  ],
  "paths": {
    "/api/v1/bing-search/search_web": {
      "post": {
        "summary": "Execute search_web",
        "operationId": "bing-search_search_web",
        "tags": [
          "bing-search"
        ],
        "parameters": [
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "strictValidation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fail on validation errors"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bing-search_search_web_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/bing-search/search_news": {
      "post": {
        "summary": "Execute search_news",
        "operationId": "bing-search_search_news",
        "tags": [
          "bing-search"
        ],
        "parameters": [
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "strictValidation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fail on validation errors"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bing-search_search_news_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Execute search_news",
        "operationId": "bing-search_search_news_get",
        "tags": [
          "bing-search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "News search query"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Country code (e.g., 'us', 'uk')"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language code (e.g., 'en', 'es')"
          },
          {
            "name": "freshness",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "News freshness: 'day', 'week', 'month'"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort by: 'date' or 'relevance'"
          },
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/bing-search/search_images": {
      "post": {
        "summary": "Execute search_images",
        "operationId": "bing-search_search_images",
        "tags": [
          "bing-search"
        ],
        "parameters": [
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "strictValidation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fail on validation errors"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bing-search_search_images_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Execute search_images",
        "operationId": "bing-search_search_images_get",
        "tags": [
          "bing-search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Image search query"
          },
          {
            "name": "image_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Image type: 'photo', 'clipart', 'line', 'animated'"
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Color filter: 'color', 'monochrome', or specific color"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Image size: 'small', 'medium', 'large', 'wallpaper'"
          },
          {
            "name": "license",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "License type: 'any', 'public', 'share', 'sharecommercially', 'modify'"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Country code (e.g., 'us', 'uk')"
          },
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/bing-search/search_local": {
      "post": {
        "summary": "Execute search_local",
        "operationId": "bing-search_search_local",
        "tags": [
          "bing-search"
        ],
        "parameters": [
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "strictValidation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fail on validation errors"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bing-search_search_local_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Execute search_local",
        "operationId": "bing-search_search_local_get",
        "tags": [
          "bing-search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Local business search query (e.g., 'pizza near me', 'hotels in Seattle')"
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Location (e.g., 'Seattle, WA', 'London')"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Country code (e.g., 'us', 'uk')"
          },
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "bing-search_search_web_input": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Search query"
          },
          "location": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Location for localized results (e.g., 'United States', 'United Kingdom')"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "pattern": "^[a-z]{2}$",
            "description": "Country code (e.g., 'us', 'uk')"
          },
          "language": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "pattern": "^[a-z]{2}$",
            "description": "Language code (e.g., 'en', 'es')"
          },
          "num_results": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 10,
            "description": "Number of results (1-50)"
          },
          "safe_search": {
            "type": "boolean",
            "default": false,
            "description": "Enable safe search"
          },
          "freshness": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month"
            ],
            "description": "Freshness filter: 'day', 'week', 'month'"
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      },
      "bing-search_search_news_input": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "News search query"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "pattern": "^[a-z]{2}$",
            "description": "Country code (e.g., 'us', 'uk')"
          },
          "language": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "pattern": "^[a-z]{2}$",
            "description": "Language code (e.g., 'en', 'es')"
          },
          "freshness": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month"
            ],
            "description": "News freshness: 'day', 'week', 'month'"
          },
          "sort_by": {
            "type": "string",
            "enum": [
              "date",
              "relevance"
            ],
            "description": "Sort by: 'date' or 'relevance'"
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      },
      "bing-search_search_images_input": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Image search query"
          },
          "image_type": {
            "type": "string",
            "enum": [
              "photo",
              "clipart",
              "line",
              "animated"
            ],
            "description": "Image type: 'photo', 'clipart', 'line', 'animated'"
          },
          "color": {
            "type": "string",
            "enum": [
              "color",
              "monochrome",
              "red",
              "orange",
              "yellow",
              "green",
              "teal",
              "blue",
              "purple",
              "pink",
              "white",
              "gray",
              "black",
              "brown"
            ],
            "description": "Color filter: 'color', 'monochrome', or specific color"
          },
          "size": {
            "type": "string",
            "enum": [
              "small",
              "medium",
              "large",
              "wallpaper"
            ],
            "description": "Image size: 'small', 'medium', 'large', 'wallpaper'"
          },
          "license": {
            "type": "string",
            "enum": [
              "any",
              "public",
              "share",
              "sharecommercially",
              "modify"
            ],
            "description": "License type: 'any', 'public', 'share', 'sharecommercially', 'modify'"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "pattern": "^[a-z]{2}$",
            "description": "Country code (e.g., 'us', 'uk')"
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      },
      "bing-search_search_local_input": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Local business search query (e.g., 'pizza near me', 'hotels in Seattle')"
          },
          "location": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Location (e.g., 'Seattle, WA', 'London')"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "pattern": "^[a-z]{2}$",
            "description": "Country code (e.g., 'us', 'uk')"
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKey": []
    }
  ]
}
