{
  "openapi": "3.0.0",
  "info": {
    "title": "Weather Tools REST API",
    "version": "1.0.0",
    "description": "Weather information and forecasting tools"
  },
  "servers": [
    {
      "url": "https://connect.mcp360.ai",
      "description": "MCP360 API Server"
    }
  ],
  "paths": {
    "/api/v1/weather/get_current_weather": {
      "post": {
        "summary": "Execute get_current_weather",
        "operationId": "weather_get_current_weather",
        "tags": [
          "weather"
        ],
        "parameters": [
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "strictValidation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fail on validation errors"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/weather_get_current_weather_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Execute get_current_weather",
        "operationId": "weather_get_current_weather_get",
        "tags": [
          "weather"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Latitude coordinate"
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Longitude coordinate"
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "City name"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "US state (for US cities)"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country name"
          },
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/weather/get_weather_forecast": {
      "post": {
        "summary": "Execute get_weather_forecast",
        "operationId": "weather_get_weather_forecast",
        "tags": [
          "weather"
        ],
        "parameters": [
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "strictValidation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fail on validation errors"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/weather_get_weather_forecast_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Execute get_weather_forecast",
        "operationId": "weather_get_weather_forecast_get",
        "tags": [
          "weather"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Latitude coordinate"
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Longitude coordinate"
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "City name"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "US state (for US cities)"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country name"
          },
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/weather/get_historical_weather": {
      "post": {
        "summary": "Execute get_historical_weather",
        "operationId": "weather_get_historical_weather",
        "tags": [
          "weather"
        ],
        "parameters": [
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "strictValidation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fail on validation errors"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/weather_get_historical_weather_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Execute get_historical_weather",
        "operationId": "weather_get_historical_weather_get",
        "tags": [
          "weather"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude coordinate"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude coordinate"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "End date (YYYY-MM-DD)"
          },
          {
            "name": "include_hourly",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "description": "Include hourly data (true/false)"
          },
          {
            "name": "validateOutput",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Validate output against schema"
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include execution metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string"
                        },
                        "tool": {
                          "type": "string"
                        },
                        "executionTime": {
                          "type": "string"
                        },
                        "creditsUsed": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (premium access required)"
          },
          "404": {
            "description": "Service or tool not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "weather_get_current_weather_input": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "description": "Latitude coordinate"
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "description": "Longitude coordinate"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "City name"
          },
          "state": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "pattern": "^[A-Z]{2}$",
            "description": "US state (for US cities)"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100,
            "description": "Country name"
          }
        },
        "additionalProperties": false
      },
      "weather_get_weather_forecast_input": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "description": "Latitude coordinate"
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "description": "Longitude coordinate"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "City name"
          },
          "state": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "pattern": "^[A-Z]{2}$",
            "description": "US state (for US cities)"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100,
            "description": "Country name"
          }
        },
        "additionalProperties": false
      },
      "weather_get_historical_weather_input": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "description": "Latitude coordinate"
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "description": "Longitude coordinate"
          },
          "start_date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Start date (YYYY-MM-DD)"
          },
          "end_date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "End date (YYYY-MM-DD)"
          },
          "include_hourly": {
            "type": "boolean",
            "description": "Include hourly data (true/false)"
          }
        },
        "required": [
          "latitude",
          "longitude",
          "start_date",
          "end_date",
          "include_hourly"
        ],
        "additionalProperties": false
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKey": []
    }
  ]
}
